@* Vue pour voir un etudiant *@
@model PFI.Models.Student
@{
    ViewBag.Title = "Etudiant - Details";
    bool canWrite = Session["access"] != null && (PFI.Models.Access)Session["access"] >= PFI.Models.Access.ReadWrite;
}

<div class="appHeader">
    <img src="~/App_Assets/lionelg.png" class="logo" />
    <div class="navTabs">
        <span style="font-weight:bold;">Etudiant - Details</span>
    </div>
    <div class="headerActions">
        @if (canWrite)
        {
            <a href="@Url.Action("Edit","Students", new { id = Model.Id })" title="Modifier">
                <i class="fa fa-pen-to-square fa-xl" style="color:#0057CC;"></i>
            </a>
            <span style="cursor:pointer;" title="Supprimer"
                  onclick="bootbox.confirm({
                    closeButton: false,
                    message: '<span style=\'color:red;font-weight:bold;\'>Effacer ?</span>',
                    buttons: {
                        cancel: { label: 'Annuler', className: 'btn-secondary' },
                        confirm: { label: 'D\'accord', className: 'btn-primary' }
                    },
                    callback: function(result) {
                        if (result) {
                            document.getElementById('deleteForm_@Model.Id').submit();
                        }
                    }
                  })">
            <i class="fa fa-trash-can fa-xl" style="color:#0057CC;"></i>
            </span>
            using (Html.BeginForm("Delete", "Students", new { id = Model.Id }, FormMethod.Post, new { id = "deleteForm_" + Model.Id }))
            {
            }
        }
        <a href="@Url.Action("Index","Students")" title="Retour">
            <i class="fa fa-square-xmark fa-xl" style="color:#0057CC;"></i>
        </a>
    </div>
</div>

<div class="pageContent">
    @Html.Partial("_StudentDetails", Model)
</div>

@section scripts {
    <script>
        RestoreDetailsState();
        setInterval(function () {
            $.get('@Url.Action("GetStudentDetails", "Students", new { id = Model.Id })', function (data) {
                $('.pageContent').html(data);
                RestoreDetailsState();
            });
        }, 5000);
    </script>
}
