@{
    ViewBag.Title = "Historique de connexions";
}

<div class="appHeader">
    <img src="~/App_Assets/lionelg.png" class="logo" />
    <div class="navTabs">
        <span>Historique de connexions</span>
    </div>
    <div class="headerActions">
        <a href="@Url.Action("Index","Students")" title="Retour">
            <i class="fa fa-square-xmark fa-xl" style="color:#0057CC;"></i>
        </a>
    </div>
</div>

<div class="pageContent">
    <details open id="details_logins">
        <summary>Connexions</summary>
        <div style="padding-left:12px;color:gray;">Aucune connexion journalisee.</div>
    </details>
</div>
