@{
    ViewBag.Title = "Connexion";
    string message = ViewBag.Message as string;
    bool success = ViewBag.Success == null || ViewBag.Success;
    string messageColor = success ? "green" : "red";
    string alertIcon = success ? "fa-circle-exclamation" : "fa-triangle-exclamation";
}

<div class="appHeader">
    <img src="~/App_Assets/lionelg.png" class="logo" />
    <div class="navTabs">
        <span>Registraire</span>
    </div>
</div>

<div class="pageContent accounts-page">
    @using (Html.BeginForm("Login", "Accounts", FormMethod.Post, new { @class = "event-form" }))
    {
        @Html.AntiForgeryToken()

        if (!string.IsNullOrEmpty(message))
        {
            <fieldset>
                <legend><i class="fa-solid @alertIcon" style="color:@messageColor; font-size:20px;"></i></legend>
                <div class="account-alert">
                    <span style="color:@messageColor">@message</span>
                </div>
            </fieldset>
        }

        <fieldset>
            <legend>Connexion</legend>
            <input name="email"
                   id="Email"
                   class="form-control"
                   type="email"
                   placeholder="Courriel"
                   required />

            <div class="passwordLayout">
                <input name="password"
                       id="Password"
                       class="form-control"
                       type="password"
                       placeholder="Mot de passe"
                       required />
                <i id="toggleShowPassword" class="passwordShowIcon fa fa-eye" title="Afficher/Masquer le mot de passe"></i>
            </div>

            <input type="submit"
                   value="Se connecter..."
                   class="btn btn-primary" />
        </fieldset>

        <div class="account-links">
            @Html.ActionLink("S'enregistrer...", "Subscribe")
        </div>
    }
</div>

@section scripts {
    <script>
        $(() => {
            const password = $("#Password");
            const toggle = $("#toggleShowPassword");

            function syncToggle() {
                toggle.toggle(password.val() !== "");
            }

            syncToggle();
            password.on("keyup input", syncToggle);
            toggle.on("click", () => {
                password.attr("type", password.attr("type") === "password" ? "text" : "password");
                toggle.toggleClass("fa-eye fa-eye-slash");
            });
        });
    </script>
}
